<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>DavidAC</mat-card-title>
    <mat-card-subtitle>Producer / Songwriter</mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <app-carousel [slides]="slides"></app-carousel>
  </div>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="aboutText"></p>
  </mat-card-content> -->
  <mat-card-actions>
    <button mat-button>EMAIL</button>
    <button mat-button>INSTAGRAM</button>
    <button mat-button>TWITTER</button>
  </mat-card-actions>
</mat-card>
